<%- include ('partials/header') %>
	<div class = "ui main text container segment">

		<h1>No results found</h1>
		<ul>Try different keywords</ul>
		<a href="/">Search Again</a>
	</div>
<%- include ('partials/footer') %>