<!DOCTYPE html>
<html>
<head>
	<title>Movie/Game Search Application</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
	<h1>No results found</h1>
	<ul>Try different keywords</ul>
	<a href="/">Search Again</a>
</body>
</html>