<!DOCTYPE html>
<html>
<head>
	<title>Movie/Game Search Application</title>
</head>
<body>
	<h1>Search For a Movie/Games</h1>

	<form action="/results" method="GET">
		<input type="text" name="searchName" placeholder="Name">
		<input type="text" name="searchYear" placeholder="Year">
		<input type="submit">
	</form>
</body>
</html>


