

<%- include ('partials/header') %>
	<div class = "ui main text container segment">

		<div class = "ui huge header">Search For Your Favourite Movie/Game</div>
		
		<form class= "ui huge form" action="/results" method="GET">
			<div class="two fields">
				<div class = "field">
					<label>Name</label>
					<input name="searchName" placeholder="Name" type="text">
				</div>
				<div class = "field">
					<label>Year</label>
					<input name="searchYear" placeholder="Year" type="text">
				</div>
			</div>
			<input class = "ui submit button" type="submit" value="Search">
		</form>
		
	</div>
<%- include ('partials/footer') %>


